<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Cadastro de Jogos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-label>Código</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Nome</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Valor</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Logo</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Gênero</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Data de Lançamento</ion-label>
    <ion-input></ion-input>
  </ion-item>

</ion-content>
 