<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Cadastro de Jogos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-label>Código</ion-label>
    <ion-input [(ngModel)]="jogo.codigo" type="number"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Nome</ion-label>
    <ion-input [(ngModel)]="jogo.nome"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Valor</ion-label>
    <ion-input [(ngModel)]="jogo.valor" inputmode="decimal"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Logo</ion-label>
    <ion-input [(ngModel)]="jogo.logo" placeholder="https://...."></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Genero</ion-label>
    <ion-select [(ngModel)]="jogo.genero" multiple="false" placeholder="Selecione o gênero">
      <ion-select-option *ngFor="let genero of generos" [value]="genero.valor">
        {{genero.descricao}}
      </ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>Data de Lançamento</ion-label>
    <ion-datetime [(ngModel)]="jogo.dataLancamento"
            displayFormat="DD/MM/YYYY"
            cancelText="Cancelar"
            doneText="Selecionar"></ion-datetime>
  </ion-item>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="salvar()">
      <ion-icon name="checkmark"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
 